*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#entrevista {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body{
    font-family: Arial, sans-serif;
    width: 100%;
    flex-direction: column;
}


main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bem-vindo {
   margin-top: 80px;
    font-size: 24px;
}

#imagem-profissao {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-top: 80px;
    border-radius: 30px;
}

#textinho {
    width: 100%;
    height: 100%;
    background-color: rgba(51, 44, 78, 0.5);
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: large;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}


#sobre-site{
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 60%;
    text-align: center;
    padding: 20px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
}
#sobre-site:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}

#sobre-site h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#sobre-site p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
}


#outros {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 50px;
    align-items: center;
    margin-top: 60px;
    width: 55%;
    height: auto; 
    justify-content: space-around;
    margin-bottom: 65px;
}

.mais a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: white;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 30px;
    width: 120px;
    border-radius: 20px;
    transition: all 0.6s ease;
}
.mais :hover {
    transition: all 0.3s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}




