*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#entrevista {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body{
    font-family: Arial, sans-serif;
    width: 100%;
    flex-direction: column;
}


main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bem-vindo {
   margin-top: 120px;
    font-size: 24px;
}


#sobre-site{
    margin-top: 30px;
    background-color: black;
    color: white;
    width: 60%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
#sobre-site h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#sobre-site p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
}


#outros {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 50px;
    align-items: center;
    margin-top: 60px;
    width: 55%;
    height: 20px;
    justify-content: space-around;
}

.mais a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: white;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 30px;
    width: 120px;
    border-radius: 20px;
}

footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}




