*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    width: 100%;
    flex-direction: column;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#entrevista {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#sobre{
    margin-top: 85px;
}

#container{
    width: 65%;
    margin-top: 40px;
    background-color: black;
    color: white;
    flex-direction: column;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foto{
    background-color: white;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10000px;
}
#foto img{
    width: 2000px;
    height: 180px;
}
#descricao{
    width: 60%;
    text-align: center;
    height: auto;
    margin-top: 50px;
    line-height: 25px;
}

#outros {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
    width: 55%;
    height: 20px;
    justify-content: space-around;
}

.mais a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: white;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 30px;
    width: 120px;
    border-radius: 20px;
}


footer {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}
